body{
    display: flex; flex-direction: column; justify-content: center; margin: 0; scroll-behavior: smooth;
}
.title-nav{
    display: grid; grid-template-columns: repeat(2, 2fr); background-color: rgba(8, 19, 65, 0.772); color: white;
}
.title{padding-left: 70px;}
.title h1 {font-size: 3rem; font-weight: 600;}
.nav-grid{display: grid;
    grid-auto-flow: row;
    align-content: center;
    align-items: stretch;
    justify-content: end;
    justify-items: end;
    padding-right: 70px;
}

nav{display: flex; gap: 20px; text-align: center; align-items: center; justify-content: flex-end; }
nav li{list-style: none;}
li a {text-decoration: none; color: white; }
li a:hover{color: rgb(221, 255, 0); text-decoration: underline;}


#about{display: grid; background-image: linear-gradient(to right,rgba(65, 180, 125, 0.58), rgba(196, 237, 120, 0.687)); padding: 30px 4rem;}
.title-abt{text-align: center;}
.abt-content{text-align: center;}






.form {
    display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: rgb(255, 255, 255); padding: 20px;
}
.form label{
    padding: 0px; margin: 0;
}
.form-container{display: grid; grid-template-columns: repeat(2, 1fr); }

input, select, textarea{outline-style: none;}

#bookingform{
    display: grid; grid-template-columns: repeat(2, 1fr); column-gap: 10px; row-gap: 10px; padding: 0px 50px; background-color: white;
}
.opt1, .opt2, .opt3, .opt4, .opt-email{
    padding: 10px;
}
.opt6{
    float: right;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 20px;
    padding: 20px 20px;
    font-weight: 600;
    font-size: .7rem;
    color: rgba(21, 0, 255, 0.505);
    cursor: pointer;
}
.opt6:hover{
    background-color: transparent;
    color: rgba(21, 0, 255, 0.79);
    cursor: pointer;
}
.btn-clear{
    grid-column: 1 / 3;
}

.opt5{
    background: #007bff;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
.opt5:hover{
    background: #0056b3;
    border: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.2);
    transition: all 0.3 ease;
    transform: translateY(-2px);
}
.opt5:active{
    transform: translateY(0);
}
.btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
}
.btn-space{
    padding: 10px;
}
.row2-left,.row2-right,.row3-full,.row4-left,.row4-right, .row5-full{
    display: flex; flex-direction: column; justify-content: center;
    align-items: left;
}
.heading{
    grid-row: 1;
    padding-bottom: 10px;
}
.row2-left{
    grid-column: 1;
    grid-row: 2;
}
.row2-right{
    grid-column: 2;
    grid-row: 2;
}
.row3-full{
    grid-column:1/3;
    grid-row: 3;
}
.row4-left{
    grid-column: 1;
    grid-row: 4;
}
.row4-right{
    grid-column: 2;
    grid-row: 4;
}
.row5-full{
    grid-column: 1/3;
    grid-row: 5;
}
textarea{
    padding: 10px;
    resize: none;
}

.section-info{
    display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; padding-left: 50px;
}

h2{
    margin-bottom:0px;
    padding: 0;
}
.section-info p{
    margin: 0;
    padding-bottom: 10px;
}
.form-p{
    margin: 0;
}

footer{
    display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; 
    
    background-color: rgba(8, 19, 65, 0.772);
    color: white;
}

.nav-footer{
    display: flex; gap: 20px; text-align: center; align-items: center; justify-content: center; padding-left: 20px;
}
.nav-footer li{list-style: none;}
.nav-footer li a {text-decoration: none; color: white; }
.nav-footer li a:hover {text-decoration: underline; color: rgb(221, 255, 0); }